@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><strong>INVENTIRE</strong></h1>
    <h5> Aplicativo de Inventario de llantas Web </h5>
</div>

<br><br>

<div class="text-center">
    <img id="llantas" src="~/imagenes/hankook-tire.png" alt="imagen llantas"/>
    <img src="" alt="">
</div>

<br><br>

<div class="justify-content-center text-center text-white bg-primary">
    <div class="col col-nd-7 seccion-bienvenida">
        <h1> De parte del Equipo MINTIC-84-02 te damos la bienvenida a nuestro aplicativo </h1>
        <pre>
            Este aplicativo esta diseñado para facilitar el seguimiento y control de llantas 
            de nuestras empresas cliente.
        </pre>
    </div>
</div>

